* {
    margin: 0;
    padding: 0
}

body {
    font-family: sans-serif, Arial !important;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    line-height: 150%;
    margin-bottom: 2em;
}

.fix {
    overflow: hidden;
}

.container_full {
    width: 100%;
    height: auto;
}

.container {
    width: 80%;
    display: block;
    margin: 0 auto;
}


/*End simple typography*/


/*Header part */

#header .logo img {
    float: left;
    padding: 20px 0;
}

#header nav {
    float: right;
}

#header nav #menu {
    list-style: none;
    margin-right: 60px;

}

#header nav #menu li {
    float: left;
    margin: 0 15px;
}

#header nav #menu li a {
    display: block;
    padding: 31px 0;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #506a85;
    transition: all .2s ease-in-out;
}

#header nav #menu li a:hover {
    transform: scale(1.2);
}

#header nav #menu {}


#header nav .search_box img {
    display: block;
    margin-top: 32px;
    float: right;
}

/*End header part*/





/* Hamburger Menu */


.res_navbar {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    font-size: 10px;
    letter-spacing: 1.7px;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    height: 52px;
    width: 50px;
    cursor: pointer;
    transition: 0.3s;
    z-index: 9999;
}

.menu span {
    position: absolute;
    height: 3px;
    width: 25px;
    background-color: #506a85;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
}

.menu span:before {
    content: '';
    position: absolute;
    top: -8px;
    background-color: #506a85;
    height: 3px;
    width: 25px;
    transition: 0.3s;
}

.menu span:after {
    content: '';
    position: absolute;
    top: 8px;
    background-color: #506a85;
    height: 3px;
    width: 25px;
    transition: 0.3s;
}

.menu.active span {
    background-color: transparent;
}

.menu.active span:before {
    transform: rotate(45deg);
    top: 0;
}

.menu.active span:after {
    transform: rotate(-45deg);
    top: 0;
}

/* End */

/* Navigationbar */

.navbar-menu {
    background-color: #292929;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    transform: translateX(-100%);
    transition: 0.5s;
}

.navbar-menu.active {
    transform: translateX(0);
    transition: 0.5s;
}

.navbar-menu .menu-listing {
    padding: 0;
    margin: 0;
    text-align: right;
}

.menu-listing li {
    display: inline-block;
}

.menu-listing li a {
    background-color: #fff;
    color: #506a85;
    display: block;
    font-size: 1rem;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    letter-spacing: 1px;
    text-decoration: none;
    transition: 0.5s;
}

.menu-listing li a:hover {
    transform: scale(1.2);
}

/* End */

/*End the responsive navbar*/








/*banner part*/
.banner_bg {
    background-image: url(../imgs/banner.jpg);
}

.banner_text {
    margin: 200px 0;
    text-align: center;
}

.banner_text h1 {
    font-family: sans-serif;
    font-size: 64px;
    font-weight: bold;
    color: #fff;
}

.banner_text p {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: normal;
    color: #a3b1bf;
    margin: 20px 0;
    margin-bottom: 60px;
}

.banner_text .anchor_bg {
    background-color: #00bc9c;
    display: inline-block;
    border-radius: 3px;
}

.banner_text a {
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    padding: 20px 40px;
    display: inline-block;
    transition: all .3s ease-in-out;
}

.banner_text a:hover {
    transform: scale(1.1);
}

/*End banner part*/


/*content part*/
.content h1 {
    text-align: center;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #506a85;
    margin-top: 100px;
}

.content p {
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #73879c;
    margin-top: 30px;
    margin-bottom: 50px;
}

.articles {
    width: 100%;
    display: block;
    margin-bottom: 300px;
}

.articles #single_article {
    width: 30%;
    margin-left: 5%;
    float: left;
}

.articles #single_article:first-child {
    margin-left: 0;
}

.articles #single_article img {
    width: 40px;
    margin-top: 5px;
}

.articles #single_article .para_heading {
    width: 77%;
    float: right;
}

.articles #single_article .para_heading h3 {
    font-family: sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #506a85;
    text-align: left;
}

.articles #single_article .para_heading p {
    font-family: sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #73879c;
    text-align: left;

}


/*End content part*/


/*preject part*/
.project_bg {
    background-color: #f2f5f7;
}

.our_project {
    text-align: center;
    display: block;
    width: 100%;
    height: auto;
}

.our_project h2 {
    font-family: sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #506a85;
    margin-top: 100px;
}

.our_project p {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #73879c;
    margin-top: 20px;
    margin-bottom: 50px;
}

.project {
    width: 100%;
    height: auto;
    display: block;
}

.our_project .project .project_pic {
    width: 49%;
    float: left;
    overflow: hidden;
    background-color: #fff;
    margin-bottom: 100px;
}

.our_project .project .project_pic:last-child {
    margin-left: 2%;
}

.our_project .project .project_pic img {
    width: 100%;
}

.our_project .project .project_pic p {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #73879c;
    margin-top: 18px;
    margin-bottom: 5px;
}

.our_project .project .project_pic a {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #73879c;
    margin-bottom: 25px;
    display: block;
}


.our_project .project_sample {
    width: 100%;
    height: auto;
    display: inline-block;
    margin-bottom: 120px;
}

.our_project .project_sample img {
    width: 23.5%;
    margin-left: 2%;
    float: left;
    display: block;
    overflow: hidden;
}

.our_project .project_sample img:first-child {
    margin-left: 0;
}


/*End our project part*/



/*work dealing part*/
.work_with_us {
    display: block;
    margin: 100px 0;
    text-align: center;
}

.work_with_us h1 {
    font-family: sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #506a85;
}

.work_with_us p {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #73879c;
    margin-top: 25px;
    margin-bottom: 60px;
}

.work_with_us .anchor_bg {
    background-color: #00bc9c;
    display: inline-block;
    border-radius: 3px;
}

.work_with_us a {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    padding: 20px 40px;
    display: inline-block;
    transition: all .3s ease-in-out;
}

.work_with_us a:hover {
    transform: scale(1.1);
    font-weight: 600;
}


/*End work dealing part*/


/*Footer part*/
.footer_bg {
    background-color: #2f4052;
}

.footer {
    text-align: left;
    display: block;

}

.footer .footer_section {
    width: 23.5%;
    margin-left: 2%;
    float: left;
    display: block;
    overflow: hidden;
    margin-top: 100px;
    margin-bottom: 100px;

}

.footer .footer_section:first-child {
    margin-left: 0;
}

.footer .footer_section h6 {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.footer .footer_section p {
    font-family: sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #73879c;
}

.footer .footer_section a {
    color: #73879c;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: normal;
    margin-left: 10px;
}




.footer .footer_section .works_pic img {
    width: 48%;
    margin-top: 2%;
    float: left;
    display: inline-block;
}

.footer .footer_section .works_pic img:nth-child(even) {
    margin-left: 2%;
}



.footer .footer_section .number {
    margin-top: 7px;
    margin-bottom: 5px;
}

.footer .footer_section .number p {
    display: inline-block;
    margin: 0;
    margin-left: 10px;
}


.footer .footer_section .client_email {
    position: relative;
    width: 100%;
    background-color: #4e5c6c;
    border-radius: 3px;
    border: none;
}

.footer .footer_section .client_email input {
    width: 60%;
}

.footer .footer_section .client_email input[type="email"] {
    padding: 15px 0 15px 10px;
    background-color: transparent;
    border: none;
}



.footer .footer_section .client_email input::-webkit-input-placeholder {
    color: #7f8b97;
    font-size: 12px;
}

.footer .footer_section .client_email input::-ms-input-placeholder {
    color: #7f8b97;
    font-size: 12px;
}

.footer .footer_section .client_email input::-moz-placeholder {
    color: #7f8b97;
    font-size: 12px;
}

.footer .footer_section .client_email input::placeholder {
    color: #7f8b97;
    font-size: 12px;
}



.footer .footer_section .client_email button {
    width: 34%;
    position: absolute;
    height: 70%;
    margin-top: 7px;
    border-radius: 3px;
    background-color: #00bc9c;
    border: none;
}

.footer .footer_section .client_email button a {
    color: #fff;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-left: -1px;
}



/*End footer part*/



/*Last footer*/
.lf_bg {
    background-color: #283645;
}

.last_footer {
    margin: 25px 0;
}

.last_footer p {
    color: #73879c;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: normal;
    float: left;
    margin-bottom: 0;

}

.last_footer #menu_footer {
    display: block;
    float: right;
    margin-bottom: 25px;
}

.last_footer #menu_footer li {
    float: left;
    display: inline-block;
    margin-left: 10px;
}

.last_footer #menu_footer li:first-child {
    margin-left: 0;
}

.last_footer #menu_footer li a {
    color: #73879c;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: normal;
}


.top_button {
    position: absolute;
    display: inline-block;
    margin-left: 985px;
    margin-top: -18px;
    transition: all 0.2s ease;
}

.top_button a {
    padding: 22px 9px 6px 9px;
    background-color: #3c5065;
    color: #949ba2;
    border-radius: 3px;
}



/*End last footer*/




/*The End*/
